@import url('Reset.css');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

html{
    width:90%;
    margin: 0 auto;
}
header,footer{
    
    width:100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 30pt;
    font-weight:lighter ;
    color: rgb(136, 146, 176);
    text-align: center;
    
}
header{
    height: auto;
    position: relative;
    
    
}
footer{
    
    
    width:100%;
    position: fixed;
    bottom: 0px;
}
body{
    background-color: rgb(10, 25, 47);
    height: 100% !important;
    margin-top: 2% !important;
    font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    
    
    
}
.container{
    
    width: 100%;
    
    height: 900px;
    margin: 0 auto;
    overflow:hidden;
    position: relative;
    display: inline-block;
    font-size: 0;
}

#left-sidebar{
    width: 15%;
    height: 98%;
    display: inline-block;
    vertical-align: top;
    border-radius: 5px;
    padding-top: 1%;
    background-color: rgb(23, 42, 69);
    
}

#content{
    /* color: #818181; */
    color: lightgray;
    margin-left: 1%;
    width: 84%;
    height: 98% !important;
    display: inline-block;

    border-radius: 5px;
    background-color: rgb(23, 42, 69);
    overflow: hidden;
    
    
}

#menu{
    
    width: 100%;
    height: 50%;
    
}



#menu a{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 18pt;
    width: 100%;
    line-height: 27pt;
    
    text-align: left;
    vertical-align: middle;
    display: inline-block;
    text-decoration: none !important;
    color: black;
    height: 35px;
    
    background-color: rgb(23, 42, 69);
    color: #818181;
    
    
}
#menu i{
    margin-left: 60px;
}
#menu a:hover{
    background-color: rgb(4, 24, 51);
}

.page{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    height: 97%;
    width: 100%;
    /* margin: 0 auto; */
    flex-shrink: 0;
    position: relative;
    transition: all 2s ease 0s;
    overflow-y:hidden;
    top:0px;
    font-size: 17px;
    
}

#pp{
    width: 50%;
    margin-top: 10px !important;
    margin: 0 auto;
    display: block;
    border-radius: 50%;
 
}

#name{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    margin-top: 30px;
    font-size: 20pt;
    font-weight: normal;
}

#pp-container{
    color: #818181;
    margin: 0 auto;
    height: 25  %;
    margin: 0 auto;
    font-weight: 500;
    line-height: 27pt;
    text-align: center;
    
    display: block;
}




#title{
    font-family: 'Open Sans', sans-serif;
    font-size: 12pt;
}

.skills-container{
    width: 90%;
    background-color:#292929;
    border-radius: 5px;
    margin-top: 5px;
    font-stretch: condensed;
    text-align: right;
    font-size: 14px;
}

.skills-container span{
    float: left;
}

.tag{
    position: absolute;
    padding: 10px;
    background-color: rgb(58, 58, 58);
    width: 6%;
}
.skills{
    width: 80%;
    
    padding: 10px;
    color:lightgray;
    border-radius: 5px;
}

#Skill{
    float: right;
    width: 65%;
    position: relative;
    
}

#Info{
    
    vertical-align: middle;
    position: absolute;
    width: 35%;
    height: 100%;
    margin: auto 0;
    overflow: scroll;
    scrollbar-width: none;
}




.cpp{width:90%;background-color: green;}
.python{width:60%;background-color:blue;}
.csharp{width:90%;background-color: red;}
.js{width:50%;background-color: purple;}

  
  .outer-list {
    position: relative;
  }
  
  .outer-list:after {
    position: absolute;
    height: calc(100% - 95px);
    width: 5px;
    content: '';
    display: block;
    background-color: purple;
    left: 10px;
    top: 45px;
  }
  
  ul li {
    padding: 5px 0;
  }
  
  ul li span{
    display: ruby-text;
    font-size: 20px;
    margin: -6px;
  }

  .inner-list {
    margin-left: 0;
    margin-top: 10px;
    margin-bottom: 5px;
    position: relative;
  }
  
  .inner-list:before {
    position: absolute;
    height: 57px;
    width: 5px;
    content: '';
    display: block;
    background-color: green;
    transform: rotate(-45deg);
    left: 5px;
    bottom: 100%;
    margin-bottom: -27px;
  }
  
  .inner-list:after {
    position: absolute;
    height: 48px;
    width: 5px;
    content: '';
    display: block;
    background-color: red;
    transform: rotate(45deg);
    left: -1px;
    top: 100%;
    margin-top: -20px;
  }
  
  .inner-list li {
    position: relative;
    margin-left: 20px;
  }
  
  .inner-list li:after {
    position: absolute;
    height: calc(100% - 20px);
    width: 5px;
    content: '';
    display: block;
    background-color: blue;
    left: -30.5px;
    top: 45px;
  }
  
  .inner-list li:last-child:after {
    display: none;
  }





.content {
    margin: auto;
    text-align: center;
  }
  
  #c {
    margin: auto;
  }

  .pentagon {
    width: 300px;
    height: 300px;
    margin: auto;
    padding: 3px 3px 28px 3px;
    display:inline-block;
  }


  .terminal-bar {
    background-color: #eae8e9;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    position: relative;
    z-index: 9999;
}

.dark-mode {
    background-image: linear-gradient(180deg, #464248 0%, #3b383d 100%);
    border-bottom: 1px solid rgba(66, 66, 66, 0.5);
}

.icon-btn {
  border-radius: 50%;
  margin-top: 7px;
  height: 15px;
  width: 15px;
  margin-bottom: 0.5rem;
  
}

.terminal-bar > div.icon-btn:first-child {
  margin-left: 0.6rem;
}

.terminal-bar > div.icon-btn:not(:first-child) {
  margin-left: 0.5rem;
}

.terminal-bar > div.icon-btn:last-child {
  margin-right: 0.6rem;
}

.close {
  background-color: rgb(212, 105, 105);
  border: 1px solid rgba(61, 55, 55);
}

.max {
  background-color: rgb(90, 86, 86);
  border: 1px solid rgba(61, 55, 55);
}

.min {
  background-color: rgb(90, 86, 86);
  border: 1px solid rgba(61, 55, 55);
}

.terminal-window {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  height: 254px;
  padding: .5rem 0rem 0rem .5rem;
  display: flex;
  flex-direction: column;
}

.primary-bg {
  background-color: rgb(23, 42, 69);
}

.shadow {
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.55);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.55);
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

.dark-mode-text {
  color: #bdb9bf !important;
  font-size: 1rem;
  line-height: 1.5;
  font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.terminal-bar-text {
  position: absolute;
  margin-top: 5px;
  color: lightgray;
  width: 100%;
  text-align: center;
  font-weight: 500;
}

.cards{
  width: 65%;
  float: right;
  position: relative;
  
}

.main-card{
  width: 80%;
  margin:0 auto;
}



.card{
  width: 95%;
  margin:0 auto;
  background-color: rgb(35, 75, 134);
}
.rad-info-box{	
	margin-bottom:16px;
	box-shadow:1px 1px 2px 0 #CCCCCC;
	padding:20px;
	box-shadow:0 2px 5px 0 rgba(0,0,0,.26);
	background:$base-color !important;
}

.rad-info-box i{
	display:block;
	background-clip:padding-box;
	margin-right:15px;
	height:60px;
	width:60px;
	border-radius:100%;
	line-height:60px;
	text-align:center;
	font-size:4.4em;
	position:absolute;	
}

.rad-info-box .value,
.rad-info-box .heading{
	display:block;	
	position:relative;
	color: $text-color;
	text-align:right;
	z-index:10;
}

.rad-info-box .heading{
	font-size:1.2em;
	font-weight:300;
	text-transform:uppercase;
}

.rad-info-box .value{
	font-size:1.4em;
	font-weight:600;
	margin-top:5px;
}
